.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 0.23;

  .top_part {
    margin-top: 20px;
    margin-left: 10%;
    .avatar {
      display: flex;
      position: relative;
      width: 70px;

      img {
        width: 90px;
        height: 70px;
      }
      p {
        border: 1px solid white;
        background-color: orange;
        border-radius: 50%;
        padding: 2px;
        color: white;
        position: absolute;
        right: -10px;
        bottom: -10px;
        font-size: 14px;
        width: 20px;
        text-align: center;
        height: 20px;
      }
    }

    p {
      text-transform: uppercase;
      font-weight: 700;
    }
    .name {
      font-weight: 300;
      text-transform: capitalize;
      display: flex;
      align-items: center;

      svg {
        &:hover {
          color: blue;
          cursor: pointer;
        }
      }
    }
  }
  .bottom {
    ul {
      li {
        display: flex;
        list-style: none;
        justify-content: flex-start;
        width: 100%;
        gap: 25px;
        margin: 20px 0;
        align-items: center;
        .notification {
          padding: 3px;
          background-color: magenta;
          color: black;
          border-radius: 50%;
          width: 13px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
          margin-left: 15px !important;
          margin: 0 0;
          font-size: 12px;
        }
        p {
          color: magenta;
          margin-left: -20px;
          margin-top: -5px;
        }

        &:hover {
          color: blue;
          cursor: pointer;
        }
      }
    }
  }

  .referal_part {
    margin-left: 20%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    .refferal {
      font-weight: 700;
      margin: 20px 0;
    }
    .help {
      display: flex;
      .pink {
        color: magenta;
        // margin-left: -20px;
        margin-top: 1px;
      }
    }
  }
}
